# Economic Data Preprocessing

In this notebook, we are going to preprocess economic data collected from [World Bank](https://data.worldbank.org/), these data are include Gross Domestic Product(GDP), GDP per capita, unemployment rates, inflation of consumer prices, trade and other economic indicators.Our aim is to explore how these economic indicators has influence on Food Consumption Score(FCS) and Household Dietary Diversity Scores (HDDS) consequently predict food security levels within a country. 

For instance, we may find that countries with higher GDP per capita tend to have higher FCS and HDDS, indicating a positive correlation between economic prosperity and food security. Similarly, we may analyze how changes in unemployment rates or inflation affect access to diverse and nutritious diets, providing valuable insights to address food insecurity in a country.

[World bank Data Licenses](https://datacatalog.worldbank.org/public-licenses#cc-by) [here]()

## Import Libraries

In [11]:
import pandas as pd
from pandas import read_csv
import numpy as np
from functools import reduce
import seaborn as sns
import matplotlib.pyplot as plt

## Helper Functions

In [12]:
def save_country_data(data_frame, country_paths):
    
    '''
    Saves specific country data from a provided DataFrame to designated file paths.

    Parameters:
        data_frame (pandas.DataFrame): The DataFrame containing the combined economic data.
        country_paths (list of tuples): A list where each tuple contains a country name and the corresponding 
        file path to save the data.
    
    '''
    for country, path in country_paths:
        # Extract the data for the specified country
        country_data = data_frame[data_frame['country'] == country]

        # Save the data to the specified file path
        country_data.to_csv(path, index=False)
        print(f"Data for {country} saved to {path}")

In [22]:
def interpolate_null_values(data, method='linear', **kwargs):
    """
    Interpolate null values in the dataframe for each country separately.
    
    Parameters:
    data (pd.DataFrame): The input dataframe with potential null values.
    method (str): The method of interpolation (default is 'linear').
    **kwargs: Additional keyword arguments to pass to the interpolation function.
    
    Returns:
    pd.DataFrame: The dataframe with interpolated values.
    """
    interpolated_data = data.groupby('country').apply(lambda group: group.interpolate(method=method, axis=0, limit_direction='both', **kwargs))
    return interpolated_data.reset_index(drop=True)

## Preprocess Economic Data
In this section we will define a function(process_economic_data) that will helps us to handle and streamline the preprocessing of economic data that is typically distributed across different files, each detailing specific indicators such as trade percentages, GDP growth rates, unemployment rate etc. This function will efficiently transforms and merges these separate datasets into a single DataFrame. By doing so, it facilitates comprehensive and comparative economic analysis across different countries and years from a unified view. The transformation includes reshaping yearly data into a consistent format and merging it based on common dimensions such as country and year. The result is a rounded, neatly formatted, and combined dataset, saved to a specified location for easy access and further analysis.

In [23]:
def process_economic_data(data_list, output_path, country_paths):
    """
    Processes multiple economic data files, merges them, interpolates missing values, and outputs a combined CSV.

    Parameters:
        data_list (list of tuples): A list where each tuple contains a DataFrame and the target column name.
        output_path (str): The file path where the combined CSV will be saved.
        country_paths (list of tuples): A list where each tuple contains a country name and the corresponding 
                                        file path to save the data.

    Returns:
        pandas.DataFrame: The combined DataFrame from all provided DataFrames.
    """
    # List to hold each DataFrame after processing
    combined_data = []

    # Process each DataFrame with the specified column name
    for df, column_name in data_list:
        # Melt the DataFrame to format 'Country Name', 'Year', and the value column
        year_columns = [col for col in df.columns if "YR" in col]
        df_melted = df.melt(id_vars=["Country Name"], value_vars=year_columns,
                            var_name="Year", value_name=column_name)

        # Extract the year from the 'Year' column and round values to three decimal places
        df_melted['Year'] = df_melted['Year'].apply(lambda x: x.split()[0])
        df_melted[column_name] = pd.to_numeric(df_melted[column_name], errors='coerce').round(3)

        # Append to the list of DataFrames
        combined_data.append(df_melted[['Country Name', 'Year', column_name]])

    # Merge all the dataframes on 'Country Name' and 'Year', then rename columns
    final_df = reduce(lambda left, right: pd.merge(left, right, on=["Country Name", "Year"], how='outer'), combined_data)
    final_df.rename(columns={"Country Name": "country", "Year": "year"}, inplace=True)
    
    # Interpolate null values in the final combined DataFrame
    final_df = interpolate_null_values(final_df)

    # Save the each country_data separate
    save_country_data(final_df, country_paths)
    
    # Save the full combined data
    final_df.to_csv(output_path, index=False)

    return final_df

## Define Data Directory

In [24]:
data_dir = 'economic_data/'
tz_dir = 'tanzania_data/economic_data/'
rw_dir = 'rwanda_data/economic_data/'

## Load Data Files

In [25]:
df_gdp_growth = read_csv(data_dir+ 'gdp_growth.csv', delimiter = ',')
df_gdp_per_capita = read_csv(data_dir+ 'gdp_per_capita.csv', delimiter = ',')
df_trade = read_csv(data_dir+ 'trade.csv', delimiter = ',')
df_growth_national_exp = read_csv(data_dir+ 'growth_national_expenditure.csv', delimiter = ',')
df_hh_final_consum = read_csv(data_dir+ 'hh_final_consumption.csv', delimiter = ',')
df_infl_consum_price = read_csv(data_dir+ 'inflation_consumer_price.csv', delimiter = ',')
df_population_growth = read_csv(data_dir+ 'population_growth.csv', delimiter = ',')
df_fdi_out = read_csv(data_dir+ 'fdi_net_outflows.csv', delimiter = ',')
df_fdi_in = read_csv(data_dir+ 'fdi_net_inflows.csv', delimiter = ',')
df_unemployment = read_csv(data_dir+ 'unemployment.csv', delimiter = ',')
df_military_expenditure = read_csv(data_dir+ 'military_expenditure.csv', delimiter = ',')
df_m_trade = read_csv(data_dir+ 'merchandise_trade.csv', delimiter = ',')

#extra which dont see to relate much with economic data
#df_refugee_population = read_csv(data_dir+ 'refugee_population.csv', delimiter = ',')

In [26]:
#df_trade.head()

## Define Parameters

In [27]:
# Define the economic data list
data_list = [
    (df_gdp_growth, 'gdp_growth'),  
    (df_gdp_per_capita, 'gdp_capita'),
    (df_trade, 'trade'),  
    (df_growth_national_exp, 'growth_national_exp'),
    (df_hh_final_consum, 'hh_final_consum'),  
    (df_infl_consum_price, 'infl_consum_price'),
    (df_population_growth, 'pop_growth'),  
    (df_unemployment, 'unemployment'),
    (df_fdi_out, 'fdi_outflows'),  
    (df_fdi_in, 'fdi_inflows'),
    (df_m_trade, 'merchandise_trade'),  
    (df_military_expenditure, 'military_exp'),
]

# Define the output path for the combined CSV
output_path = data_dir + 'combined_economic_data.csv'

# Define the list of country paths
country_paths = [
    ('Tanzania', tz_dir + 'tz_economic_data.csv'),
    ('Rwanda', rw_dir + 'rw_economic_data.csv'),
]

## Call a Function

In [29]:
# Call the function
combined_df = process_economic_data(data_list, output_path, country_paths)

Data for Tanzania saved to tanzania_data/economic_data/tz_economic_data.csv
Data for Rwanda saved to rwanda_data/economic_data/rw_economic_data.csv

In [30]:
combined_df.head(50)

,country,year,gdp_growth,gdp_capita,trade,growth_national_exp,hh_final_consum,infl_consum_price,pop_growth,unemployment,fdi_outflows,fdi_inflows,merchandise_trade,military_exp
0,Rwanda,2000,8.371,7.029,27.483,116.730,88.373,3.900,1.246,11.831,0.000,0.392,12.712,3.536
1,Rwanda,2001,8.485,6.981,29.197,114.660,85.539,3.343,1.395,11.851,0.000,0.941,18.661,3.396
2,Rwanda,2002,13.192,11.186,27.608,115.247,85.499,1.993,1.788,11.522,0.000,0.076,15.920,3.049
3,Rwanda,2003,2.202,-0.132,29.309,113.757,83.571,7.450,2.310,11.751,0.000,0.220,15.058,2.447
4,Rwanda,2004,7.448,4.712,33.460,112.674,81.767,12.251,2.579,11.784,0.000,0.324,16.073,1.973
5,Rwanda,2005,9.378,6.537,34.214,112.840,81.286,9.014,2.632,11.928,0.000,0.271,20.314,1.743
6,Rwanda,2006,9.227,6.355,33.220,111.454,80.348,8.883,2.665,11.650,0.000,0.923,22.229,1.644
7,Rwanda,2007,7.633,4.773,35.969,108.635,77.685,9.081,2.694,11.639,0.318,2.021,23.288,1.366
8,Rwanda,2008,11.161,8.220,37.602,115.058,81.434,15.438,2.682,11.567,0.000,1.975,27.837,1.306
9,Rwanda,2009,6.248,3.479,36.803,116.069,82.305,12.944,2.641,11.676,0.000,2.091,27.190,1.327
10,Rwanda,2010,7.335,4.572,37.276,115.792,82.181,-0.246,2.607,11.682,0.000,3.530,28.211,1.217
11,Rwanda,2011,7.958,5.224,39.713,114.397,81.478,3.080,2.566,11.801,0.000,1.628,36.352,1.095
12,Rwanda,2012,8.642,6.002,40.537,116.551,80.300,10.271,2.460,11.703,0.000,3.522,37.764,1.042
13,Rwanda,2013,4.720,2.258,42.689,115.707,78.417,5.924,2.379,11.800,0.000,2.989,38.423,1.055
14,Rwanda,2014,6.167,3.673,43.898,116.164,78.660,2.354,2.378,11.866,0.046,3.811,38.751,1.103
15,Rwanda,2015,8.857,6.290,45.197,118.737,80.653,2.529,2.386,11.853,0.040,1.897,35.859,1.214
16,Rwanda,2016,5.971,3.413,49.480,118.640,77.663,7.174,2.443,11.799,0.549,3.217,34.326,1.241
17,Rwanda,2017,3.929,1.384,53.675,112.619,73.776,8.280,2.479,11.880,0.170,2.962,35.114,1.249
18,Rwanda,2018,8.536,5.925,55.794,113.570,76.549,-0.311,2.435,10.760,0.186,3.800,37.214,1.235
19,Rwanda,2019,9.462,6.876,57.992,114.329,71.562,3.348,2.391,11.240,0.053,2.544,37.695,1.197
20,Rwanda,2020,-3.377,-5.665,55.199,116.539,76.602,9.850,2.397,11.830,0.000,1.500,38.831,1.472
21,Rwanda,2021,10.876,8.277,54.711,115.621,72.136,-0.391,2.372,15.790,0.000,1.917,40.038,1.512
22,Rwanda,2022,8.160,5.689,61.167,116.195,74.061,17.689,2.312,15.080,0.000,2.994,42.670,1.450
23,Rwanda,2023,-10.300,5.689,61.167,116.195,74.061,17.689,2.312,14.945,0.000,2.994,42.670,1.450
24,Tanzania,2000,4.521,1.604,23.981,102.363,77.055,5.924,2.837,3.152,0.000,3.464,16.881,1.487
25,Tanzania,2001,6.071,3.230,28.021,100.356,74.042,5.147,2.721,2.990,0.006,4.048,18.889,1.452
26,Tanzania,2002,7.093,4.334,27.490,98.936,71.990,5.318,2.617,3.007,0.002,2.799,18.678,1.303
27,Tanzania,2003,6.673,3.877,30.438,100.263,69.207,5.304,2.661,3.027,0.015,2.092,21.956,1.074
28,Tanzania,2004,7.504,4.631,33.598,101.518,65.557,4.736,2.714,3.079,0.000,2.653,25.212,0.995
29,Tanzania,2005,7.476,4.542,36.959,102.993,63.679,5.035,2.773,3.177,0.000,5.086,26.996,0.824
30,Tanzania,2006,6.532,3.589,42.768,105.938,63.724,7.251,2.806,3.300,0.000,2.165,32.820,0.792
31,Tanzania,2007,6.769,3.819,48.058,108.397,62.637,7.026,2.806,3.020,0.000,2.660,34.199,0.762
32,Tanzania,2008,5.686,2.846,49.027,110.097,61.290,10.278,2.730,2.778,0.000,4.949,38.729,0.698
33,Tanzania,2009,5.269,2.671,43.533,107.144,60.455,12.142,2.504,2.500,0.000,3.240,31.948,0.757
34,Tanzania,2010,6.337,3.625,47.640,108.425,66.046,6.200,2.588,3.047,0.000,5.664,37.251,0.896
35,Tanzania,2011,7.672,4.649,56.166,112.898,68.465,12.691,2.853,3.470,0.000,3.547,44.822,0.903
36,Tanzania,2012,4.500,1.509,54.369,113.218,67.946,16.001,2.909,3.232,0.000,4.539,41.414,0.914
37,Tanzania,2013,6.782,3.617,48.632,114.441,66.926,7.871,3.025,2.930,0.000,4.572,36.474,0.972
38,Tanzania,2014,6.732,3.471,45.356,113.072,65.550,6.132,3.120,2.120,0.000,2.833,33.251,1.016
39,Tanzania,2015,6.161,2.685,40.758,106.548,63.862,5.588,3.345,2.129,0.000,3.176,32.950,1.091
40,Tanzania,2016,6.867,3.232,35.420,101.167,59.926,5.175,3.477,2.189,0.000,1.736,27.725,1.094
41,Tanzania,2017,6.727,3.206,33.113,100.744,59.886,5.319,3.371,2.251,0.000,1.760,23.298,1.056
42,Tanzania,2018,5.503,2.208,32.643,106.367,59.878,3.494,3.189,2.340,0.000,1.704,23.088,1.058
43,Tanzania,2019,5.800,2.668,33.019,106.168,58.659,3.464,3.022,2.445,0.000,1.995,23.690,1.022
44,Tanzania,2020,1.992,-1.020,27.963,101.006,54.560,3.290,3.014,2.780,0.000,1.428,21.947,1.054
45,Tanzania,2021,4.321,1.248,29.915,101.729,54.037,3.691,3.007,2.866,0.000,1.685,23.232,1.079
46,Tanzania,2022,4.558,1.527,35.021,104.235,54.996,4.350,2.959,2.603,0.000,1.670,27.787,1.092
47,Tanzania,2023,5.300,1.527,35.021,104.235,54.996,4.350,2.959,2.556,0.000,1.670,27.787,1.092

In [31]:
process_economic_data(data_list, output_path ,country_paths)

Data for Tanzania saved to tanzania_data/economic_data/tz_economic_data.csv
Data for Rwanda saved to rwanda_data/economic_data/rw_economic_data.csv

,country,year,gdp_growth,gdp_capita,trade,growth_national_exp,hh_final_consum,infl_consum_price,pop_growth,unemployment,fdi_outflows,fdi_inflows,merchandise_trade,military_exp
0,Rwanda,2000,8.371,7.029,27.483,116.730,88.373,3.900,1.246,11.831,0.000,0.392,12.712,3.536
1,Rwanda,2001,8.485,6.981,29.197,114.660,85.539,3.343,1.395,11.851,0.000,0.941,18.661,3.396
2,Rwanda,2002,13.192,11.186,27.608,115.247,85.499,1.993,1.788,11.522,0.000,0.076,15.920,3.049
3,Rwanda,2003,2.202,-0.132,29.309,113.757,83.571,7.450,2.310,11.751,0.000,0.220,15.058,2.447
4,Rwanda,2004,7.448,4.712,33.460,112.674,81.767,12.251,2.579,11.784,0.000,0.324,16.073,1.973
5,Rwanda,2005,9.378,6.537,34.214,112.840,81.286,9.014,2.632,11.928,0.000,0.271,20.314,1.743
6,Rwanda,2006,9.227,6.355,33.220,111.454,80.348,8.883,2.665,11.650,0.000,0.923,22.229,1.644
7,Rwanda,2007,7.633,4.773,35.969,108.635,77.685,9.081,2.694,11.639,0.318,2.021,23.288,1.366
8,Rwanda,2008,11.161,8.220,37.602,115.058,81.434,15.438,2.682,11.567,0.000,1.975,27.837,1.306
9,Rwanda,2009,6.248,3.479,36.803,116.069,82.305,12.944,2.641,11.676,0.000,2.091,27.190,1.327
10,Rwanda,2010,7.335,4.572,37.276,115.792,82.181,-0.246,2.607,11.682,0.000,3.530,28.211,1.217
11,Rwanda,2011,7.958,5.224,39.713,114.397,81.478,3.080,2.566,11.801,0.000,1.628,36.352,1.095
12,Rwanda,2012,8.642,6.002,40.537,116.551,80.300,10.271,2.460,11.703,0.000,3.522,37.764,1.042
13,Rwanda,2013,4.720,2.258,42.689,115.707,78.417,5.924,2.379,11.800,0.000,2.989,38.423,1.055
14,Rwanda,2014,6.167,3.673,43.898,116.164,78.660,2.354,2.378,11.866,0.046,3.811,38.751,1.103
15,Rwanda,2015,8.857,6.290,45.197,118.737,80.653,2.529,2.386,11.853,0.040,1.897,35.859,1.214
16,Rwanda,2016,5.971,3.413,49.480,118.640,77.663,7.174,2.443,11.799,0.549,3.217,34.326,1.241
17,Rwanda,2017,3.929,1.384,53.675,112.619,73.776,8.280,2.479,11.880,0.170,2.962,35.114,1.249
18,Rwanda,2018,8.536,5.925,55.794,113.570,76.549,-0.311,2.435,10.760,0.186,3.800,37.214,1.235
19,Rwanda,2019,9.462,6.876,57.992,114.329,71.562,3.348,2.391,11.240,0.053,2.544,37.695,1.197
20,Rwanda,2020,-3.377,-5.665,55.199,116.539,76.602,9.850,2.397,11.830,0.000,1.500,38.831,1.472
21,Rwanda,2021,10.876,8.277,54.711,115.621,72.136,-0.391,2.372,15.790,0.000,1.917,40.038,1.512
22,Rwanda,2022,8.160,5.689,61.167,116.195,74.061,17.689,2.312,15.080,0.000,2.994,42.670,1.450
23,Rwanda,2023,-10.300,5.689,61.167,116.195,74.061,17.689,2.312,14.945,0.000,2.994,42.670,1.450
24,Tanzania,2000,4.521,1.604,23.981,102.363,77.055,5.924,2.837,3.152,0.000,3.464,16.881,1.487
25,Tanzania,2001,6.071,3.230,28.021,100.356,74.042,5.147,2.721,2.990,0.006,4.048,18.889,1.452
26,Tanzania,2002,7.093,4.334,27.490,98.936,71.990,5.318,2.617,3.007,0.002,2.799,18.678,1.303
27,Tanzania,2003,6.673,3.877,30.438,100.263,69.207,5.304,2.661,3.027,0.015,2.092,21.956,1.074
28,Tanzania,2004,7.504,4.631,33.598,101.518,65.557,4.736,2.714,3.079,0.000,2.653,25.212,0.995
29,Tanzania,2005,7.476,4.542,36.959,102.993,63.679,5.035,2.773,3.177,0.000,5.086,26.996,0.824
30,Tanzania,2006,6.532,3.589,42.768,105.938,63.724,7.251,2.806,3.300,0.000,2.165,32.820,0.792
31,Tanzania,2007,6.769,3.819,48.058,108.397,62.637,7.026,2.806,3.020,0.000,2.660,34.199,0.762
32,Tanzania,2008,5.686,2.846,49.027,110.097,61.290,10.278,2.730,2.778,0.000,4.949,38.729,0.698
33,Tanzania,2009,5.269,2.671,43.533,107.144,60.455,12.142,2.504,2.500,0.000,3.240,31.948,0.757
34,Tanzania,2010,6.337,3.625,47.640,108.425,66.046,6.200,2.588,3.047,0.000,5.664,37.251,0.896
35,Tanzania,2011,7.672,4.649,56.166,112.898,68.465,12.691,2.853,3.470,0.000,3.547,44.822,0.903
36,Tanzania,2012,4.500,1.509,54.369,113.218,67.946,16.001,2.909,3.232,0.000,4.539,41.414,0.914
37,Tanzania,2013,6.782,3.617,48.632,114.441,66.926,7.871,3.025,2.930,0.000,4.572,36.474,0.972
38,Tanzania,2014,6.732,3.471,45.356,113.072,65.550,6.132,3.120,2.120,0.000,2.833,33.251,1.016
39,Tanzania,2015,6.161,2.685,40.758,106.548,63.862,5.588,3.345,2.129,0.000,3.176,32.950,1.091
40,Tanzania,2016,6.867,3.232,35.420,101.167,59.926,5.175,3.477,2.189,0.000,1.736,27.725,1.094
41,Tanzania,2017,6.727,3.206,33.113,100.744,59.886,5.319,3.371,2.251,0.000,1.760,23.298,1.056
42,Tanzania,2018,5.503,2.208,32.643,106.367,59.878,3.494,3.189,2.340,0.000,1.704,23.088,1.058
43,Tanzania,2019,5.800,2.668,33.019,106.168,58.659,3.464,3.022,2.445,0.000,1.995,23.690,1.022
44,Tanzania,2020,1.992,-1.020,27.963,101.006,54.560,3.290,3.014,2.780,0.000,1.428,21.947,1.054
45,Tanzania,2021,4.321,1.248,29.915,101.729,54.037,3.691,3.007,2.866,0.000,1.685,23.232,1.079
46,Tanzania,2022,4.558,1.527,35.021,104.235,54.996,4.350,2.959,2.603,0.000,1.670,27.787,1.092
47,Tanzania,2023,5.300,1.527,35.021,104.235,54.996,4.350,2.959,2.556,0.000,1.670,27.787,1.092